@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0.063rem;
}
.wlc .text-3 span{
    color: chartreuse;
    font-weight: 500;
    font-size: 0.9rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#test1
{
    color: chartreuse;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: cursive;
    font-size: 1.5rem;
}
.name{
    font-family: cursive;
    font-size: 1.2rem;
    margin-left: 0.625rem;
    margin-right: 200px;
}

.name span{
    font-size: 1.5rem;
    color: chartreuse;
}

.wlc
{
    width:22.875rem;
    height:30rem;
    background-color: black;
    padding:3.438rem;
    margin-top:0.25rem;
    margin-left:0.563rem;
    opacity: 0.84;
}
.wlc h1{
    text-align: center;
    margin-top: 0.875rem;
    font-size: 1.563rem;
}
.wlc h2{
    text-align: center;
    margin-top: 1.25rem;
    font-family: cursive;
}
.wlc h4{
    text-align:justify;
    color:rgb(172, 166, 166);
    font-weight:normal;
    margin-top: 1.875rem;
    margin-bottom:1.875rem ;
    letter-spacing:0.01rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
body{
    color: white;
    background:linear-gradient(
    rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.38),rgba(0,0,0,0)
    ), url(../images/homeimg.jpg)no-repeat;
    background-size:100% 100%;
}


nav{
    display: flex;
    padding: 1% 1%;
    /* justify-content: space-between; */
    align-items: center;
}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    display: inline-block;
    padding: 8px 25px;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 10px 10px 10px;
}
.nav-links ul li a.active{
    background-color: rgb(17, 221, 17);
    padding: 10px 10px 10px 10px;
}
.nav-links li a.one:hover{
    background-color:rgb(17, 221, 17);
    padding: 10px 10px 10px 10px;
    margin-bottom: 50px;
}
.fa{
    display:none;
}

@media(max-width: 700px){
    .nav-links .fa{
        display:initial;
    }

    .nav-links ul li{
        
        display: block;
        margin-top: 10px;
    }
    .nav-links{
        position: absolute;
        background-color: #363535;
        height: 100vh;
        width: 200px;
        top: 0px;
        right: -200px;
        text-align:left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

.login{
    background-color:rgb(99, 98, 98);
    color:white;
    padding: 0.625rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    margin-left: 1.875rem;
    margin-top: 2.5rem;
    text-align: center;
}
.login:hover
{
    background-color:rgb(17, 221, 17);
}
.register{
    background-color:rgb(99, 98, 98);
    color:white;
    padding: 0.625rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-left: 6.25rem;
    text-align: center;
}
.register:hover
{
    background-color:rgb(17, 221, 17);
}
.food{
    background-color:rgb(99, 98, 98);
    color:white;
    padding: 0.625rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    margin-left: 6.25rem;
    margin-top: 0.625rem;
    text-align: center;
}
.food:hover
{
    background-color:rgb(17, 221, 17);
}
@media(max-width:991px){
    body{
         color: white;
        background: rgb(41, 1, 1); 
   
    }
    .name{
        font-size: 1.5rem;
        margin-top: 0.65rem;
        margin-left: 0.625rem;
    }
   .wlc
    {
        width:cover;
        height:30rem;
        background-color: black;
        padding:3.438rem;
        margin-top:2.25rem;
        opacity: 0.84;
    }
    .login{
        margin-left: 0.1rem;
        margin-top: 1.5rem;
    }
    .register{
        margin-left: 3.5rem;
        margin-top: 1.5rem;


    }
    .food{
        margin-left: 3.25rem;
        margin-top: 1rem;
    }
};







