@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0.063rem;
}
.name{
    font-family: cursive;
    font-size: 1.25rem;
    margin-left: 0.625rem;
}
a.active
{
    background-color: rgb(17, 221, 17);
    padding:0.063rem 2.188rem 0.094rem 2.188rem;
}

.wlc
{
    width:21.875rem;
    height:30rem;
    background-color: black;
    padding:3.438rem;
    margin-top:0.25rem;
    margin-left:0.563rem;
    opacity: 0.84;
}
.wlc h1{
    text-align: center;
    margin-top: 1.875rem;
    font-size: 1.563rem;
}
.wlc h2{
    text-align: center;
    margin-top: 6.25rem;
}
.wlc h4{
    text-align:justify;
    color:darkgray;
    font-weight:normal;
    margin-top: 1.875rem;
    letter-spacing:0.031rem;

}
body{
    color: white;
    background:linear-gradient(
    rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.38),rgba(0,0,0,0)
    ), url(../images/homeimg.jpg)no-repeat;
    background-size:100% 100%;
}
.navbar
{
    width:46.875rem;
    float:right;
    border:1px solid none;
}
.navbar li{
    width:6.875rem;
    float: left;
    margin:0.625rem auto;
    text-align:center;
}
.navbar li a{
    text-decoration: none;
    color:darkgrey;
}
.navbar li a.active{
    text-decoration: none;
    color:white;
}
.navbar li:hover{
    background-color:rgb(17, 221, 17);
}
.navbar li a.one:hover {
    color:white;
}
.login{
    background-color:rgb(99, 98, 98);
    color:white;
    padding: 0.625rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    margin-left: 1.875rem;
    margin-top: 2.5rem;
    text-align: center;
}
.login:hover
{
    background-color:rgb(17, 221, 17);
}
.register{
    background-color:rgb(99, 98, 98);
    color:white;
    padding: 0.625rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-left: 6.25rem;
    text-align: center;
}
.register:hover
{
    background-color:rgb(17, 221, 17);
}
.food{
    background-color:rgb(99, 98, 98);
    color:white;
    padding: 0.625rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    margin-left: 6.25rem;
    margin-top: 0.625rem;
    text-align: center;
}
.food:hover
{
    background-color:rgb(17, 221, 17);
}
@media(max-width: 900px){
    .navbar
   {
    width:25rem;
    /* float:right; */
    border:1px solid none;
    margin-left: 1rem;
    font-size: small;
   }
   .name{
       margin-top: 1rem;
    font-family: cursive;
    font-size: 0.625rem;
    margin-left: 0.625rem;
}
.wlc h1{
    text-align: center;
    margin-top: 0rem;
    font-size: 1.563rem;
} 
.wlc
{
   
    background-color: black;
    padding:3.438rem;
    margin-top:3rem;
    margin-left:0.563rem;
    opacity: 0.84;
}
}