@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
.head
{
   font-size: 1.5rem;
    margin: 0.625rem;
    margin-left:31.5rem;
    font-family:cursive;
    color: aquamarine;
}

body{
    color: white;
    /* background-color: rgb(54, 53, 53); */
/* background-image: linear-gradient(43deg, #444444 0%, #252525 46%, #000000 100%); */
    background:linear-gradient(
    rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.38),rgba(0,0,0,0)
    ), url(../images/homeimg.jpg)no-repeat;
    background-size: 100% 100%;
}

div.gallery {
    margin: 20px 5px 10px 80px;
    border: 1px solid rgb(0, 0, 0);
    float: left;
    width: 310px;
    height: auto; 
    border-radius: 50px;

  } 
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height :210px;
    border-radius: 50px 50px 0px 0px;
  }
  div.desc {
    padding: 5px;
    text-align: center;
    color:white;
   /* font-family: 'Montserrat', sans-serif; */
  }
  div.stars{
    padding: 5px;
    text-align: center;
    color:white;
  }
  .bg{
      background-color: black;
      border-radius: 0px 0px 50px 50px;
  }
  .back{
    padding: 0.75rem;
    /* display:block; */
    background-color: green;
    border: white;
    color: white;
    text-align:center;
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    margin-right: 1.25rem;
  }
  .back:hover
  {
      background-color:rgb(17, 221, 17);
  }

  @media(max-width: 900px){
    .head{
      margin: 0.625rem;
      margin-left: 7rem;
      font-size: 1.5rem;
    }
    body{
      background: rgb(41, 1, 1); 
    }
    div.gallery img {
      height :140px;
      border-radius: 50px 50px 0px 0px;
    }
    div.gallery {
      margin: 0px 5px 30px 80px;
      border: 1px solid rgb(0, 0, 0);
      float: left;
      width: 60%;
      height: auto; 
      border-radius: 50px;
  
    } 
    .head
{
    margin: 4.625rem;
    margin-left:5.881rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

  }